<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/print.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <style>
        @media print {
            @page {
                size: A4;
                margin: 0;
            }

            .watermark_grid {
            display: grid;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            row-gap: 30px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(30, 1fr);
        }

        .watermark_grid>div {
            opacity: 0.1;
            color: black;
            transform: rotate(-20deg);
        }


            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: "Lato", sans-serif;
            }


            .admit_card_section {
                background: #fdf1d9;
                position: relative;
                overflow: hidden;
            }

            .top {
                border-bottom: 2px dashed #8f8f8f;
            }

            .admit_card_section>div {
                padding: 10px 30px;
            }

            /* Admit Cart Section Header */

            .ac_section_header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
            }

            .ac_section_header h6 {
                font-weight: 600;
                color: #565656;
                font-size: 12px;
            }

            .ac_header_logo {
                width: 60px;
            }

            .ac_header_div {
                text-align: center;
                row-gap: 5px;
                display: flex;
                flex-direction: column;
            }

            .ac_header_div h1 {
                color: #3b77ea;
                font-size: 20px;
                font-weight: 600;
            }

            .ac_header_div h4 {
                color: #b992d4;
                font-weight: 600;
            }

            /* Admit Card Body */

            .ac_information_div {
                text-align: center;
                display: flex;
                justify-content: space-between;
                row-gap: 20px;
                margin-top: 30px;
                align-items: flex-start;
            }

            .ac_info_right {
                width: calc(100% - 107px);

            }

            .ac_info_left {
            width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }


            .label {
                width: 150px;
                text-align: start;
                color: #ff8790;
                font-weight: 400;
                position: relative;
                font-size: 14px;
                margin-right: 20px;
            }

            .label::after {
                content: ':';
                position: absolute;
                right: 0;

            }

            .value {
                color: #181818;
                font-size: 14px;
            }

            .bold {
                font-weight: 600;
            }



            .row_container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 5px;
            }

            .row {
                display: flex;
                align-items: center;
                grid-column: span 2;
            }

            .row.span {
                grid-column: span 1;
            }

            .student_profile {
                width: 100px;
                height: 100px;
            }

            .student_profile img {
                height: 100%;
                width: 100%;
            }

            .ac_sign {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: end;
                width: 100px;
            }

            .ac_sign img {
                width: 100%;
                position: absolute;
                /* top: -43px; */
                top: -70px;
                transform: rotate(-11deg);
            }

            .a img  {
            width: 100%;
            position: absolute;
            top: -70px;
            transform: rotate(-11deg);
        }
            .ac_sign p {
                font-weight: 600;
                font-size: 13px;
            }

            .ac_info_right_footer {
                margin-top: 25px;
                margin-bottom: 5px;
                display: flex;
                column-gap: 100px;
                justify-content: flex-start;
            }
            .qr_code {
            width: 100px;
            height: 100px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .qr_code img{
            width: 80px;
            height: 80px;
        }
        }

        
        /* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Lato", sans-serif;
        }


        .admit_card_section {
            background: #fdf1d9;
        } */

        .watermark_grid {
            display: grid;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            row-gap: 30px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(30, 1fr);
        }

        .watermark_grid>div {
            opacity: 0.1;
            color: black;
            transform: rotate(-20deg);
        }


            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: "Lato", sans-serif;
            }


            .admit_card_section {
                background: #fdf1d9;
                position: relative;
                overflow: hidden;
            }

        .top {
            border-bottom: 2px dashed #8f8f8f;
        }

        .admit_card_section>div {
            padding: 10px 30px;
        }

        /* Admit Cart Section Header */

        .ac_section_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .ac_section_header h6 {
            font-weight: 600;
            color: #565656;
            font-size: 12px;
        }

        .ac_header_logo {
            width: 60px;
        }

        .ac_header_div {
            text-align: center;
            row-gap: 5px;
            display: flex;
            flex-direction: column;
        }

        .ac_header_div h1 {
            color: #3b77ea;
            font-size: 20px;
            font-weight: 600;
        }

        .ac_header_div h4 {
            color: #b992d4;
            font-weight: 600;
        }

        /* Admit Card Body */

        .ac_information_div {
            text-align: center;
            display: flex;
            justify-content: space-between;
            row-gap: 20px;
            margin-top: 30px;
            align-items: flex-start;
        }

        .ac_info_right {
            width: calc(100% - 107px);

        }

        .ac_info_left {
            width: 100px;
            display: flex;
            flex-direction: column;
        justify-content: space-between;
        height: 100%;
        }

        .label {
            width: 150px;
            text-align: start;
            color: #ff8790;
            font-weight: 400;
            position: relative;
            font-size: 14px;
            margin-right: 20px;
        }

        .label::after {
            content: ':';
            position: absolute;
            right: 0;

        }

        .value {
            color: #181818;
            font-size: 14px;
        }

        .bold {
            font-weight: 600;
        }

        .ac_info_left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }


        .row_container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 18px;
        }

        .row {
            display: flex;
            align-items: center;
            grid-column: span 2;
        }

        .row.span {
            grid-column: span 1;
        }

        .student_profile {
            width: 100px;
            height: 100px;
        }

        .student_profile img {
            height: 100%;
            width: 100%;
            background-color: white;
        }

        .ac_sign {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: 100px;
        }

        .ac_sign img {
            width: 100%;
            position: absolute;
            /* top: -43px; */
            top: -70px;
            transform: rotate(-11deg);
        }
        .a img  {
            width: 100%;
            position: absolute;
            top: -70px;
            transform: rotate(-11deg);
        }

        .ac_sign p {
            font-weight: 600;
            font-size: 13px;
        }

        .ac_info_right_footer {
            margin-top: 50px;
            margin-bottom: 10px;
            display: flex;
            column-gap: 100px;
            justify-content: flex-start;
        }


        .qr_code {
            margin-top: 150px;
            width: 100px;
            height: 100px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .qr_code img{
            width: 80px;
            height: 80px;
        }

        .special_value{
            font-size: 10px !important;
            text-align: left !important;
        }

        .li{
            margin-bottom: 40px;
            font-size: 13px;
            color: rgb(45, 45, 45);
        }
    </style>


    <section class="admit_card_section">
        <div class="watermark_grid">
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
            <div>Bihar Sanskrit Board</div>
        </div>
        <div class="top">
            <div class="ac_section_header">
                <img class="ac_header_logo" src="<%= board_logo %>" alt="logo">
                <!-- <img class="ac_header_logo" src="/public/files/newLogo.png" alt="logo"> -->
                <div class="ac_header_div">
                    <h1>बिहार संस्कृत शिक्षा बोर्ड, पटना
                    </h1>
                    <h4>मध्यमा परीक्षावेद्कस्य कृते पन्जियनपत्रम्  - 2025</h4>
                </div>
                <h6>SL No. 1224</h6>
            </div>
            <div class='ac_information_div'>
                <div class="ac_info_right">
                    <div class="row_container">
                        <div class="row">
                            <p class="label">परिक्षार्थी नामः</p>
                            <p class="value bold">
                                <%= student_name %>
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">पितृ नामः</p>
                            <p class="value">
                                <%= student_father_name %>
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">मातृ नामः</p>
                            <p class="value">
                                <%= student_mother_name %>
                            </p>
                        </div>
                        <div class="row ">
                            <p class="label">जन्म तिथिः</p>
                            <p class="value">
                                <%= dob_in_figures %>
                                (<%= dob_in_words %>)
                            </p>
                        </div>
                        <!-- <div class="row span">
                            <p class="value">
                                <%= dob_in_words %>
                            </p>
                        </div> -->
                        <div class="row span">
                            <p class="label">अनुमति सं•
                            </p>
                            <p class="value">
                                <%= permission_no %>
                            </p>
                        </div>
                        <div class="row span">
                            <p class="label">पन्जियन संख्याः 
                            </p>
                            <p class="value">
                                <%= registration_no %>
                            </p>
                        </div>
                        <div class="row span">
                            <p class="label">जातिः</p>
                            <p class="value">
                                <%= student_cast %>
                            </p>
                        </div>
                        <div class="row span">
                                <p class="label">कोटिः</p>
                            
                            <p class="value">
                                <%= student_category %>
                            </p>
                        </div>
                        <div class="row span">
                            <p class="label">लिङ्गमः</p>
                            <p class="value">
                                <%= student_sex %>
                            </p>
                        </div>
                        <div class="row span">
                            <p class="label">आधार संख्याः</p>
                            <p class="value">
                                <%= student_aadhar_no %>
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">विद्यालस्यः नामः</p>
                            <p class="value special_value">
                                <%= school_name %>
                            </p>
                        </div>
                    </div>
                    <div class="ac_info_right_footer">
                        <div class="ac_sign ">
                            <img src="<%= shayak %>" alt="">
                            <p>सहायक</p>
                        </div>
                        <div class="ac_sign ">
                            <img src="<%= controller %>" alt="">
                            <p>परीक्षा नियंत्रक  </p>
                        </div>
                        <div class="ac_sign ">
                            <img src="<%= sachiv %>" alt="">
                            <p>सचिव </p>
                        </div>
                    </div>
                </div>
                <div class="ac_info_left">
                    <div class="student_profile">
                        <img src="<%= student_photo %>" alt="">
                    </div>
                    <div class="qr_code">
                        <img src="<%= qr_code %>" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="ac_section_header">
                <img class="ac_header_logo" src="<%= board_logo %>" alt="logo">
                <div class="ac_header_div">
                    <!-- <h1>Bihar Sanskrit Education Board, Patna</h1> -->
                    <h1>बिहार संस्कृत शिक्षा बोर्ड, पटना</h1>
                    <h4>मध्यमा परीक्षावेद्कस्य कृते प्रवेशपत्रम् - 2025</h4>
                </div>
                <h6>SL No. 1224</h6>
            </div>
            <div class='ac_information_div'>
                <div class="ac_info_right">
                    <div class="row_container">
                        <div class="row">
                            <p class="label">परिक्षार्थी नामः</p>
                            <p class="value bold">
                                <%= student_name %>
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">पितृ नामः</p>
                            <p class="value">
                                <%= student_father_name %>
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">मातृ नामः</p>
                            <p class="value">
                                <%= student_mother_name %>
                            </p>
                        </div>
                        <div class="row ">
                            <p class="label">जन्म तिथिः</p>
                            <p class="value">
                                <%= dob_in_figures %>
                                (<%= dob_in_words %>)
                            </p>
                        </div>
                        <!-- <div class="row span">
                            <p class="value">
                                <%= dob_in_words %>
                            </p>
                        </div> -->
                        <div class="row span">
                            <p class="label">जातिः</p>
                            <p class="value">
                                <%= student_cast %>
                            </p>
                        </div>
                        <div class="row span">
                            <p class="label">कोटिः </p>
                            <p class="value">
                                <%= student_category %>
                            </p>
                        </div>
                        <div class="row span">
                            <p class="label">लिङ्गमः</p>
                            <p class="value">
                                <%= student_sex %>
                            </p>
                        </div>
                        <div class="row span">
                            <p class="label">आधार संख्याः</p>
                            <p class="value">
                                <%= student_aadhar_no %>
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">विद्यालस्यः नामः</p>
                            <p class="value special_value">
                                <%= school_name %>
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">अग्रसारक विद्यालस्यः नामः
                            </p>
                            <p class="value special_value">
                                <%= school_name_2 %> 
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">परीक्षा केन्द्रस्य नामः</p>
                            <p class="value"> <%= centre_name %></p>
                        </div>
                        <div class="row span">
                            <p class="label">केन्द्रक्रमान्कः</p>
                            <p class="value"><%= centre_code %></p>
                        </div>
                        <div class="row span">
                            <p class="label">क्रमान्कः</p>
                            <p class="value">
                                <%= roll_no %>
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">अनिवार्य विषयः</p>
                            <p class="value special_value">
                                संस्कृत व्याकरण, संस्कृत साहित्य, संस्कृत सामान्य, हिंदी, सामाजिक शिक्षा, अंग्रेजी, सामान्य विज्ञान 
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">अतिरिक्त विषयः</p>
                            <p class="value">
                                <%= additional_subject %>
                            </p>
                        </div>
                        <div class="row">
                            <p class="label">परीक्षा तिथिः</p>
                            <p class="value">27-JANUARY-2025 TO 30-JANUARY-2025</p>
                        </div>
                    </div>
                    <div class="ac_info_right_footer">
                        <div class="ac_sign">
                            <img src="<%= shayak %>" alt="">
                            <p>सहायक </p>
                        </div>
                        <div class="ac_sign">
                            <img src="<%= controller %>" alt="">
                            <p>परीक्षा नियंत्रक  </p>
                        </div>
                        <div class="ac_sign">
                            <img src="<%= sachiv %>" alt="">
                            <p>सचिव</p>
                        </div>
                    </div>
                </div>
                <div class="ac_info_left">
                    <div class="student_profile">
                        <img src="<%= student_photo %>" alt="">
                        <div class="ac_sign">
                            <!-- <img src="<%= student_signature %>" alt=""> -->
                            <p>(प्रधानध्यापक्स्यः हस्ताक्षरमः  मुहरमः च अनिवार्यम्)</p>
                        </div>
                    </div>
                    <div class="qr_code">
                        <img src="<%= qr_code %>" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div style="min-height: 100vh;">
            <h1 style="margin-top: 30px;">परीक्षार्थिनां कृते परीक्षाभवनेवलम्बनीयोः नियमः</h1>

            <ol style="margin-top: 50px;">
                <li class="li">परीक्षाभवने मौनम् अवलम्बनीयम् परीक्षार्थीभिः।</li>
                <li class="li">प्रश्नपत्रवितरणकालेन पलञ्चकं पूर्वमेव स्वक्रमांकड़िकते आसने उपदेशनियम्।</li>
                <li class="li">परीक्षाप्रकोष्ठे-विक्षकानुमतिः बिना परीक्षासमाप्तिप्रयत्नम् परीक्षार्थिन: निजस्थानविहातुं  न शुक्रवन्तु।</li>
                <li class="li">लेखनीस्वमेव आनेतव्याः ।</li>
                <li class="li">प्रश्नपत्रे किमपि न लेखनीयम।</li>
                <li class="li">परीक्षाभवने किमपि पुस्तकम्, स्मार्कपत्रम्, च मोबाइल वा न अनितव्यम्।</li>
                <li class="li">कदाचारमुक्तपरीक्षाः अवलम्बनीया:।</li>
                <li class="li">उत्तरपुस्तिकभ्यंतरे निजनामादिकम् न  लेखनीयम् ।</li>
                <li class="li">परीक्षनियमविरुद्ध किमपिचारणीयम्। नो चेत परीक्षाफलम् न प्राप्तुयात दण्डभागी च भवते।</li>
                <li class="li">कस्यापि छात्रस्य लिखो नानुकरणीय:।</li>
                <li class="li">परीक्षाधिकारीवर्गानाम् अनुशासनम् पालनीयम् सदा।</li>
            </ol>            
        </div>
    </section>
</body>

</html>